.hero {
    max-width: 480px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    padding-top: 118px;
    padding-bottom: 118px;

    background-color: var(--bg-main-dark-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../../images/index/hero/hero-480.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width:767px),
screen and (min-resolution: 192dpi) and (max-width:767px),
screen and (min-resolution: 2dppx) and (max-width:767px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../../../images/index/hero/hero-480@2x.jpg);
    }
}


@media screen and (min-width:768px) {
    .hero{
        max-width: none;
        width: 768px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../../../images/index/hero/hero-768.jpg);
}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width:768px),
screen and (min-resolution: 192dpi) and (min-width:768px),
screen and (min-resolution: 2dppx) and (min-width:768px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../../../images/index/hero/hero-768@2x.jpg);
    }
}

@media screen and (min-width:1200px) {
    .hero {
        width: auto;
        max-width: 1600px;
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../../../images/index/hero/hero-1600.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width:1200px),
screen and (min-resolution: 192dpi) and (min-width:1200px),
screen and (min-resolution: 2dppx) and (min-width:1200px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../../images/index/hero/hero-1600@2x.jpg);
    }
}

.hero__title {
    display: block;
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--light-text-color);

    @media screen and (min-width:1200px) {
        max-width: none;
        width: 696px;

        font-size: 44px;
        line-height: 1.36;
    }
}