@media screen and (max-width:1199px) {
    .hidden_section{
        display: none;
    }
}

@media screen and (min-width:1200px) {
    .section_no-padding-top {
        padding-top: 0;
    }

    .offers {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .offers__item {
        position: relative;
    }

    .offers__desc {
        position: absolute;
        bottom: 0;
        left: 0;

        display: block;

        width: 100%;

        padding: 27px 0px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: var(--light-text-color);

        background-color: rgba(47, 48, 58, 0.8);
    }
}