.logo {
    font-family: var(--logo-font);
    color: var(--accent-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

@media screen and (min-width:768px){
    .logo__page-header {
        margin-right: 87px;
    }
}

@media screen and (min-width:1200px) {
    .logo__page-header {
        margin-right: 92px;
    }
}


.logo__footer {
    display: block;
    margin-bottom: 20px;
}

.logo__part-light {
    color: var(--light-text-color);
}

.logo__part-dark {
    color: var(--dark-logo-text-color);
}