.examples__item:not(:last-child) {
    margin-bottom: 30px;
}

.examples__img-wrapper {
    position: relative;
    overflow: hidden;
}

.examples__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform var(--transition-duration-and-func);

    padding: 62px 24px;
    background-color: rgba(33, 150, 243, 0.9);

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--light-text-color);
    padding: 62px 24px;

    .exemples__link:hover &,
    .exemples__link:focus & {
        transform: translate(0, 0);
    }
}

.examples__project-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
    border: 1px solid var(--card-border-color);
    border-top: none;
}

.examples__project-name {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--main-text-color);
}

.examples__project-type {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: var(--muted-text-color);
}

.exemples__link {
    display: block;
    box-shadow: none;

    transition: box-shadow var(--transition-duration-and-func);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

@media screen and (min-width:768px) {
    .examples {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .examples__project-wrapper{
        flex-grow: 1;
    }

    .examples__item {
        flex-basis: calc((100% - 30px) / 2);
    }

    .exemples__link {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .examples__item:not(:last-child) {
            margin-bottom: 0;
        }
}

@media screen and (min-width:1200px) {
    .examples__item {
        flex-basis: calc((100% - 60px) / 3);
    }
}

/*
.examples {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.examples__item {
    flex-basis: calc((100% - 60px) / 3);
}

.examples__img-wrapper {
    position: relative;
    overflow: hidden;
}

.examples__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform var(--transition-duration-and-func);

    padding: 62px 24px;
    background-color: rgba(33, 150, 243, 0.9);

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--light-text-color);
    padding: 62px 24px;

    .exemples__link:hover &,
    .exemples__link:focus & {
        transform: translate(0, 0);
    }
}

.examples__project-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
    border: 1px solid var(--card-border-color);
    border-top: none;
}

.examples__project-name {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--main-text-color);
}

.examples__project-type {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: var(--muted-text-color);
}

.exemples__link {
    display: block;
    box-shadow: none;

    transition: box-shadow var(--transition-duration-and-func);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}
*/